/* header */
@media all and (max-width: 1410px) {
    .logo {
        margin-left: 30px;
    }
}

@media all and (max-width: 1000px) {
    .gnb-button {
        font-size: 16px;
        margin-left: 15px;
    }
}

@media all and (max-width: 850px) {
    .gnb-button {
        font-size: 14px;
        margin-left: 10px;
    }

    .logo {
        width: 40px;
        height: 40px;
    }
}

@media all and (max-width: 750px) {
    .gnb {
        display: none;
    }
}

/* home */
@media all and (max-width: 1410px) {
    .visual-wrap {
        left: 3%;
    }

    .visual-text1 {
        font-size: 20px;
    }

    .visual-text2 {
        font-size: 46px;
    }

    .visual-text3 {
        font-size: 18px;
    }

    .view {
        font-size: 18px;
    }
}

@media all and (max-width: 1250px) {
    .visual-text1 {
        font-size: 18px;
    }

    .visual-text2 {
        font-size: 40px;
        line-height: 70px;
    }

    .visual-text3 {
        font-size: 16px;
    }
}

@media all and (max-width: 550px) {
    .visual {
        height: 90vh;
    }

    .visual-text1 {
        font-size: 16px;
    }

    .visual-text2 {
        font-size: 30px;
        line-height: 50px;
    }

    .visual-text3 {
        font-size: 14px;
    }

    .view {
        font-size: 16px;
    }
}

@media all and (max-width: 470px) {
    .visual {
        height: 80vh;
    }

    .visual-text1 {
        font-size: 12px;
    }

    .visual-text2 {
        font-size: 24px;
        line-height: 40px;
    }

    .visual-text3 {
        font-size: 10px;
    }

    .view {
        font-size: 14px;
    }
}

/* about */
@media all and (max-width: 1360px) {
    .profile {
        margin-left: 30px;
    }

    .about-me-title {
        font-size: 26px;
    }

    .about-me-sub-title {
        font-size: 36px;
    }

    .about-me-text {
        font-size: 28px;
    }

    .about-me-sub-text {
        font-size: 16px;
    }

    .profile-right-title {
        font-size: 24px;
    }

    .profile-right-text {
        font-size: 14px;
    }
}

@media all and (max-width: 1230px) {}