/* gotop */
@media all and (max-width: 1300px) {
  .contact {
    width: 50px;
    height: 50px;
    font-size: 24px;
    padding-top: 8px;
  }

  .contact-list .kakao-pic {
    width: 40px;
    height: 40px;
  }

  .contact-list .cont-git {
    font-size: 40px;
    margin: 20px 0px 20px 0px;
  }

  .contact-list .email-pic {
    width: 39px;
    height: 39px;
  }

  .pdf {
    width: 50px;
    height: 50px;
    padding-top: 10px;
  }

  .fa-file-pdf {
    font-size: 28px;
  }

  .gotop {
    width: 50px;
    height: 50px;
    font-size: 14px;
    padding-top: 4px;
  }

  .fa-chevron-up {
    font-size: 36px;
  }
}

/* header */
@media all and (max-width: 1410px) {
  .logo {
    margin-left: 30px;
  }
}

@media all and (max-width: 1000px) {
  .gnb-button {
    font-size: 16px;
    margin-left: 15px;
  }
}

@media all and (max-width: 850px) {
  .gnb-button {
    font-size: 14px;
    margin-left: 10px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }
}

@media all and (max-width: 750px) {
  .gnb {
    display: none;
  }

  .mb-bt {
    display: block;
  }
}

/* home */
@media all and (max-width: 1410px) {
  .visual-wrap {
    left: 3%;
  }

  .visual-text1 {
    font-size: 20px;
  }

  .visual-text2 {
    font-size: 46px;
  }

  .visual-text3 {
    font-size: 18px;
  }

  .view {
    font-size: 18px;
  }
}

@media all and (max-width: 1250px) {
  .visual-wrap {
    top: 20%;
  }

  .visual-text1 {
    font-size: 18px;
  }

  .visual-text2 {
    font-size: 40px;
    line-height: 70px;
  }

  .visual-text3 {
    font-size: 16px;
  }
}

@media all and (max-width: 550px) {
  .visual {
    height: 90vh;
  }

  .visual-text1 {
    font-size: 16px;
  }

  .visual-text2 {
    font-size: 30px;
    line-height: 50px;
  }

  .visual-text3 {
    font-size: 14px;
  }

  .view {
    font-size: 16px;
  }
}

@media all and (max-width: 470px) {
  .visual {
    height: 80vh;
  }

  .visual-text1 {
    font-size: 12px;
  }

  .visual-text2 {
    font-size: 24px;
    line-height: 40px;
  }

  .visual-text3 {
    font-size: 10px;
  }

  .view {
    font-size: 14px;
  }
}

/* about */
@media all and (max-width: 1300px) {
  .about-me-title {
    font-size: 24px;
  }

  .about-me-sub-title {
    font-size: 40px;
  }

  .about-me-text {
    font-size: 28px;
  }

  .about-me-sub-text {
    font-size: 16px;
  }

  .profile-right-title {
    font-size: 24px;
  }

  .profile-right-text {
    font-size: 14px;
  }
}


@media all and (max-width: 1250px) {
  .about-me-title {
    font-size: 22px;
  }

  .about-me-sub-title {
    font-size: 38px;
  }

  .about-me-text {
    font-size: 26px;
  }

  .about-me-sub-text {
    font-size: 14px;
  }

  .profile-right-title {
    font-size: 22px;
  }

  .profile-right-text {
    font-size: 12px;
  }
}



@media all and (max-width: 1190px) {
  .profile {
    width: 300px;
    height: 550px;
  }

  .profile-pic {
    width: 240px;
    height: 240px;
  }

  .profile-left>span {
    font-size: 16px;
    line-height: 16px;
    margin: 20px;
  }

  .profile-bottom {
    padding-top: 0;
  }
}

@media all and (max-width: 1140px) {
  .profile {
    width: 260px;
    height: 500px;
  }

  .profile-pic {
    width: 200px;
    height: 200px;
  }

  .profile-left>span {
    font-size: 14px;
    line-height: 14px;
    margin: 18px;
  }

  .profile-right {
    padding-top: 0;
  }
}

@media all and (max-width: 1095px) {
  .about>.inner {
    display: block;
  }

  .profile {
    width: 350px;
    height: 600px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .profile-pic {
    width: 270px;
    height: 270px;
  }

  .profile-left>span {
    font-size: 20px;
    line-height: 20px;
    margin: 25px 0 25px 25px;
  }

  .about-me-title {
    font-size: 28px;
  }

  .about-me-sub-title {
    font-size: 42px;
  }

  .about-me-text {
    font-size: 30px;
  }

  .about-me-sub-text {
    font-size: 18px;
  }

  .profile-right-title {
    font-size: 26px;
  }

  .profile-right-text {
    font-size: 16px;
  }
}


@media all and (max-width: 950px) {
  .about-br {
    position: relative;
    display: block;
  }

  .education {
    float: none;
    width: 100%;
  }

  .mbti {
    float: none;
    width: 100%;
    margin-top: 30px;
  }

}


@media all and (max-width: 760px) {
  .about-br2 {
    position: relative;
    display: block;
  }
}


@media all and (max-width: 550px) {
  .about-me-title {
    font-size: 22px;
  }

  .about-me-sub-title {
    font-size: 38px;
  }

  .about-me-text {
    font-size: 26px;
  }

  .about-me-sub-text {
    font-size: 14px;
  }

  .profile-right-title {
    font-size: 22px;
  }

  .profile-right-text {
    font-size: 12px;
  }
}



@media all and (max-width: 490px) {

  .about-me-title {
    font-size: 20px;
  }

  .about-me-sub-title {
    font-size: 36px;
  }

  .about-me-text {
    font-size: 24px;
  }

  .about-me-sub-text {
    font-size: 12px;
  }

  .profile-right-title {
    font-size: 20px;
  }

  .profile-right-text {
    font-size: 10px;
  }
}

@media all and (max-width: 455px) {
  .profile {
    width: 260px;
    height: 500px;
  }

  .profile-pic {
    width: 200px;
    height: 200px;
  }

  .profile-left>span {
    font-size: 14px;
    line-height: 14px;
    margin: 18px;
  }

  .profile-right {
    padding-left: 0;
  }

  .about-me-text {
    font-size: 20px;
  }

  .about-br3 {
    position: relative;
    display: block;
  }

}


/* possibility */
@media all and (max-width: 1320px) {
  .pos-content {
    display: flex;
    justify-content: center;
  }

  .chart {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    margin: 70px;
  }

  .pos-text {
    width: 320px;
  }

  .pos-text>li {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
  }

  .pos-content h3 {
    font-size: 14px;
  }

  .pos-content h4 {
    font-size: 12px;
  }

  .pos-content p {
    font-size: 10px;
    line-height: 14px;
  }

  .pos-text1 {
    width: 100%;
    height: 105px;
  }

  .pos-text2 {
    width: 100%;
    height: 135px;
  }

  .pos-text3 {
    width: 100%;
    height: 95px;
  }

  .pos-text4 {
    width: 100%;
    height: 110px;
    text-align: left;
  }

  .pos-text5 {
    width: 100%;
    height: 110px;
    text-align: left;
  }
}

@media all and (max-width: 960px) {
  .possibility .inner {
    height: 100%;
  }

  .pos-content {
    display: block;
    padding-left: 30px;
    height: 100%;
  }

  .chart {
    display: block;
    margin: 0 auto;
  }

  .pos-text {
    width: 440px;
    margin: 30px auto;
  }

  .pos-text1 {
    width: 391px;
    height: 135px;
  }

  .pos-text2 {
    width: 240px;
    height: 180px;
  }

  .pos-text3 {
    width: 407px;
    height: 120px;
  }

  .pos-text4 {
    width: 440px;
    height: 140px;
  }

  .pos-text5 {
    width: 333px;
    height: 140px;
  }

  .pos-content h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .pos-content h4 {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .pos-content p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media all and (max-width: 600px) {
  .chart {
    width: 400px;
    height: 400px;
  }
}

@media all and (max-width: 470px) {
  .chart {
    width: 330px;
    height: 330px;
  }

  .pos-text {
    width: 310px;
  }

  .pos-content h3 {
    font-size: 14px;
  }

  .pos-content h4 {
    font-size: 12px;
  }

  .pos-content p {
    font-size: 10px;
    line-height: 14px;
  }

  .pos-text1 {
    width: 280px;
    height: 100px;
  }

  .pos-text2 {
    width: 175px;
    height: 130px;
  }

  .pos-text3 {
    width: 305px;
    height: 85px;
  }

  .pos-text4 {
    width: 310px;
    height: 100px;
  }

  .pos-text5 {
    width: 240px;
    height: 100px;
  }
}

@media all and (max-width: 360px) {
  .chart {
    width: 280px;
    height: 280px;
  }

  .pos-content {
    padding-left: 15px;
  }
}

/* skill */
@media all and (max-width: 1300px) {
  .skill-box {
    width: 180px;
    height: 180px;
  }

  .skill-pic {
    width: 50px;
    height: 50px;
  }
}

@media all and (max-width: 1050px) {
  .skill-box {
    width: 150px;
    height: 150px;
  }

  .skill-pic {
    width: 40px;
    height: 40px;
  }
}

@media all and (max-width: 925px) {
  .skill-list {
    justify-content: space-evenly;
  }
}

/* portfolio */


/* life */
@media all and (max-width: 1400px) {
  .life-collection {
    padding: 0 50px;
  }
}

@media all and (max-width: 1150px) {
  .life-cont {
    width: 250px;
    height: 390px;
  }

  .photo-text {
    font-size: 14px;
  }

  .photo-size {
    width: 210px;
    height: 270px;
  }

  .photo-size>video {
    width: 210px;
    height: 270px;
  }
}


@media all and (max-width: 603px) {
  .life-cont {
    width: 310px;
    height: 480px;
  }

  .photo-text {
    font-size: 18px;
  }

  .photo-size {
    width: 280px;
    height: 350px;
  }

  .photo-size>video {
    width: 280px;
    height: 350px;
  }
}

@media all and (max-width: 390px) {
  .life-cont {
    width: 250px;
    height: 390px;
  }

  .photo-text {
    font-size: 14px;
  }

  .photo-size {
    width: 210px;
    height: 270px;
  }

  .photo-size>video {
    width: 210px;
    height: 270px;
  }
}


/* vision */
@media all and (max-width: 1300px) {
  .vision-content {
    width: 320px;
    height: 320px;
    padding: 30px 0 20px 20px;
  }

  .vision-content img {
    top: -40px;
    left: -15px;
    width: 60px;
    height: 60px;
  }

  .vision-title {
    font-size: 20px;
  }

  .vision-text {
    font-size: 14px;
    line-height: 26px;
  }
}

@media all and (max-width: 1100px) {
  .vision-content {
    width: 270px;
    height: 270px;
    padding: 20px 0 20px 20px;
  }

  .vision-content img {
    top: -30px;
    left: -10px;
    width: 45px;
    height: 45px;
  }

  .vision-title {
    font-size: 18px;
  }

  .vision-text {
    font-size: 12px;
    line-height: 22px;
  }
}


@media all and (max-width: 950px) {
  .vision-wrap {
    display: block;
    margin: 100px auto 0 auto;
    width: 380px;
  }


  .vision-content {
    width: 380px;
    height: 380px;
    padding: 30px 0 30px 30px;
    margin-bottom: 70px;
  }

  .vision-content img {
    top: -50px;
    left: -20px;
    width: 80px;
    height: 80px;
  }

  .vision-title {
    font-size: 24px;
  }

  .vision-text {
    font-size: 16px;
    line-height: 30px;
  }
}

@media all and (max-width: 490px) {
  .vision-content {
    width: 320px;
    height: 320px;
    padding: 30px 0 20px 20px;
  }

  .vision-content img {
    top: -40px;
    left: -15px;
    width: 60px;
    height: 60px;
  }

  .vision-title {
    font-size: 20px;
  }

  .vision-text {
    font-size: 14px;
    line-height: 26px;
  }
}

@media all and (max-width: 415px) {
  .vision-content {
    width: 270px;
    height: 270px;
    padding: 20px 0 20px 20px;
  }

  .vision-content img {
    top: -30px;
    left: -10px;
    width: 45px;
    height: 45px;
  }

  .vision-title {
    font-size: 18px;
  }

  .vision-text {
    font-size: 12px;
    line-height: 22px;
  }
}

/* footer */
@media all and (max-width: 450px) {
  .footer {
    font-size: 18px;
  }
}


@media all and (max-width: 360px) {
  .footer {
    font-size: 16px;
  }
}