@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  scrollbar-3dLight-Color: #efefef;
  scrollbar-arrow-color: #dfdfdf;
  scrollbar-base-color: #efefef;
  scrollbar-Face-Color: #dfdfdf;
  scrollbar-Track-Color: #efefef;
  scrollbar-DarkShadow-Color: #efefef;
  scrollbar-Highlight-Color: #efefef;
  scrollbar-Shadow-Color: #efefef;
  -ms-overflow-style: none;
  overflow: auto;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 0px;
}

/* 스크롤바의 width */
::-webkit-scrollbar-track {
  background-color: #619ab4;
}

/* 스크롤바의 전체 배경색 */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #1697bf, #62b7ac);
}

/* 스크롤바 색 */
::-webkit-scrollbar-button {
  display: none;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: #444;
}



/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1300px;
  height: calc(100% - 80px);
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

h2 {
  font-family: 'Sriracha', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  position: relative;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.line-bar {
  position: relative;
  display: block;
  width: 100%;
  height: 43px;
  background: url('../images/line.png') no-repeat center;
}

strong {
  font-weight: 600;
  color: #d36853;
}

/* ========================= gotop ========================= */
.button-list {
  position: fixed;
  bottom: 15px;
  right: 30px;
  display: block;
  z-index: 9999;
  display: none;
}

.button-list-fix {
  position: absolute;
  bottom: 15px;
  right: 30px;
}


.button-list-show {
  visibility: visible !important;
}

/* contact */

.contact {
  position: relative;
  display: block;
  margin: 10px 0;
  border: 1px solid #e6c7c1;
  border-radius: 50%;
  background-color: #fff;
  width: 60px;
  height: 60px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  transition: all 0.2s;
}

.contact:hover {
  background-color: hsl(10, 43%, 83%);
  color: #fff;
}

.contact-list {
  position: absolute;
  bottom: 55%;
  right: 80px;
  display: none;
  transition: all 0.2s;
}


.contact-list .kakao-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s;
}

.contact-list .kakao-pic:hover {
  transform: scale(1.1);
}

.contact-list .cont-git {
  font-size: 46px;
  margin: 20px 0 20px 3px;
  transition: all 0.3s;
}

.contact-list .cont-git:hover {
  transform: scale(1.1);
}

.contact-list .email-pic {
  width: 50px;
  height: 50px;
  transition: all 0.3s;
}

.contact-list .email-pic:hover {
  transform: scale(1.1);
}

.pdf {
  position: relative;
  display: block;
  margin: 10px 0;
  border: 1px solid #e6c7c1;
  border-radius: 50%;
  background-color: #fff;
  width: 60px;
  height: 60px;
  font-weight: 700;
  text-align: center;
  padding-top: 12px;
  transition: all 0.2s;
}

.pdf:hover {
  background-color: hsl(10, 43%, 83%);
  color: #fff;
}

.fa-file-pdf {
  font-size: 32px;
}

.resume {
  position: relative;
  display: block;
  margin: 10px 0;
  border: 1px solid #e6c7c1;
  border-radius: 50%;
  background-color: #fff;
  width: 60px;
  height: 60px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding-top: 19px;
  transition: all 0.2s;
}

.resume:hover {
  background-color: #e6c7c1;
  color: #fff;
}

.fa-user {
  font-size: 14px;
  margin-left: 5px;
}

.gotop {
  position: relative;
  display: block;
  margin: 10px 0;
  border: 1px solid #e6c7c1;
  border-radius: 50%;
  background-color: #e6c7c1;
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding-top: 8px;
  transition: all 0.2s;
}

.fa-chevron-up {
  font-size: 40px;
}

.gotop:hover {
  color: #000;
}



/* ========================= header ========================= */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 999;
  text-align: center;
  box-shadow: 1px 1px 6px #e6c7c1;
}

.header .inner {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
}

.logo {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background: url('../images/favicon.png') no-repeat center;
  background-size: contain;
  text-align: center;
  padding: 40px 0;
}

/* header-gnb */
.gnb {
  position: relative;
  display: inline-block;
  font-size: 0;
}

.gnb>li {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
  margin: 0 10px;
}

.gnb-button {
  position: relative;
  display: block;
  line-height: 80px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-left: 30px;
  transition: all 0.7s;
}

.gnb-button::before {
  content: '';
  position: absolute;
  right: 50%;
  top: 18px;
  display: block;
  width: 100%;
  height: 30px;
  background: url('../images/posibility-bcc.jpg') no-repeat center;
  background-size: contain;
  transition: all 0.7s;
  z-index: -1;
  opacity: 0;
}

.gnb-button:hover {
  color: #d36853;
}

.gnb-button:hover::before {
  opacity: 1;
}


.gnb-button-active {
  color: #d36853;
}

.gnb-button-active::before {
  opacity: 1;
}

/* ========================= home ========================= */
.home {
  position: relative;
  display: block;
  height: 100vh;

  margin-bottom: 20px;
}

.home-wrap {
  position: relative;
  display: block;
  height: 100%;
}

.home-text {
  position: absolute;
  top: 30%;
  left: 0%;
  text-align: start;
  line-height: 80px;
}

.view {
  font-family: 'Sriracha', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  position: absolute;
  top: 70%;
  left: 0;
  width: 150px;
  height: 100px;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}

/* =============================== about ================================= */
.about {
  position: relative;
  display: block;
  height: 900px;
  margin-bottom: 20px;
}

/* about-left */
.profile {
  position: relative;
  display: block;
  float: left;
  width: 350px;
  height: 600px;
}

.profile-left {
  position: relative;
  display: flex;
}

.profile-pic {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 20px 25px 50px 0px;
}

.profile-icon {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-left: 15px;
  width: 70px;
}

.profile-logo {
  width: 30x;
  height: 30px;
  margin: 0px 10px 20px 0px;
}

.fa-birthday-cake {
  font-size: 26px;
  margin: -1px 10px 20px 3px;
}

.fa-map-marked-alt {
  font-size: 22px;
  margin: 1px 10px 20px 2px;
}

.fa-envelope {
  font-size: 27px;
  margin: 6px 12px 20px 2px;
}

.profile-text {
  position: relative;
  display: block;
}

.profile-text span {
  font-family: 'GangwonEduPowerExtraBoldA', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic';
  position: relative;
  display: block;
  font-size: 20px;
  margin: 20px 30px 20px 0px;
}


/* about-right */
.profile-right {
  font-family: 'S-CoreDream-3Light', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic';
  position: relative;
  display: block;
  float: right;
  width: 900px;
  color: #444;
  font-weight: 600;
}

.about-me {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.about-me-title {
  font-family: 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  position: relative;
  display: block;
  font-size: 28px;
  font-weight: 500;
  text-align: start;
}

.about-me-sub-title {
  font-family: 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  position: relative;
  display: block;
  font-size: 42px;
  font-weight: 700;
  text-align: start;
}

.about-me-text {
  font-family: 'S-CoreDream-3Light', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic';
  position: relative;
  display: block;
  font-size: 30px;
  font-weight: 600;
  text-align: start;
  margin-bottom: 10px;
}

.about-me-sub-text {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 29px;
}

.about-me-sub-text>b {
  color: #000;
}

.mbti {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 50px;
  justify-content: space-evenly;
}

.mbti-img {
  position: relative;
  display: block;
  width: 80px;
  height: 80px;
  margin: auto 0;
}

.mbti-text {
  position: relative;
  display: block;
}

.mbti-text1 {
  font-family: 'GangwonEduPowerExtraBoldA', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic';
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}


.mbti-text2 {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
}

.profile-bottom {
  position: relative;
  display: block;
  width: 100%;
}

.career {
  position: relative;
  display: block;
  width: 50%;
  float: left;
}

.education {
  position: relative;
  display: block;
  float: left;
  width: 50%;
}

.profile-right-title {
  font-family: 'Sriracha', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  position: relative;
  display: block;
  font-size: 22px;
  margin-bottom: 10px;
}

.profile-right-text {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 42px;
}





/* ========================= possibility ========================= */
.possibility {
  position: relative;
  display: block;
  width: 100%;
  height: 1000px;
  margin-bottom: 20px;
}


.chart {
  position: relative;
  display: block;
  margin: 120px auto;
  width: 550px;
  height: 550px;
}

/* pos test list */
.pos-content h3 {
  font-family: 'GangwonEduPowerExtraBoldA', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic';
  position: relative;
  display: block;
  font-size: 22px;
  color: #000;
  margin-bottom: 10px;
}

.pos-content h4 {
  font-family: 'S-CoreDream-3Light', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic';
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 5px;
}

.pos-content p {
  font-family: 'S-CoreDream-3Light', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic';
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #444;
}


.pos-text1 {
  position: absolute;
  left: 58%;
  top: 14%;
  width: 450px;
  background: url('../images//posibility-bcc.jpg') no-repeat center;
  background-size: contain;
  background-position: right;
}

.pos-text2 {
  position: absolute;
  top: 39%;
  right: 0%;
  width: 280px;
}

.pos-text3 {
  position: absolute;
  bottom: 12%;
  right: 2%;
  width: 510px;
  background: url('../images//posibility-bcc.jpg') no-repeat center;
  background-size: contain;
  background-position: center;
}

.pos-text4 {
  position: absolute;
  bottom: 28%;
  left: -8%;
  width: 520px;
}

.pos-text5 {
  position: absolute;
  top: 22%;
  left: 0%;
  width: 415px;
  background: url('../images//posibility-bcc.jpg') no-repeat center;
  background-size: contain;
  background-position: left;
}


/* ========================= skill ========================= */
.skill {
  position: relative;
  display: block;
  width: 100%;
  height: 870px;
  margin-bottom: 20px;
}

.skill-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.skill-box {
  position: relative;
  display: block;
  width: 220px;
  height: 200px;
  margin: 60px 40px;
  font-size: 20px;
}

/* skill-icon */
.skill-pic {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 60px;
  height: 60px;
}



/* ========================= portfolio ========================= */
.portfolio {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.portfolio b {
  font-weight: 500;
  color: #b51b1b;
}

/* portfolio-layout */
.portfolio-wrap {
  position: relative;
}

.portfolio-menu {
  position: relative;
  text-align: center;
  margin: 40px 0 20px;
}

.portfolio-bt {
  position: relative;
  display: inline-block;
}

.portfolio-bt button {
  position: relative;
  display: block;
  cursor: pointer;
  margin: 0 30px;
  padding: 10px 20px;
  border: 0;
  font-size: 19px;
  background-color: #fff;
  color: #999;
  font-weight: 600;
  transition: all 0.9s;
}

.portfolio-bt button:hover {
  color: #d36853;
}

.portfolio-bt .portfolio-menu-active {
  color: #d36853;
}


.portfolio-cate {
  position: relative;
}

.portfolio-list {
  position: relative;
  display: block;
  width: 100%;
}

.portfolio-content {
  position: relative;
  display: block;
  float: left;
  width: 350px;
  height: 380px;
  margin: 25px 25px;
  background-color: #fff;
  box-shadow: 1px 1px 6px #e6c8c2;
  /* border-radius: 40px 80px / 80px 40px; */
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.9s ease;
}

.portfolio-content:hover {
  transform: scale(1.1);
  z-index: 9;
}


.portfolio-content .portfolio-pic {
  display: block;
}

.portfolio-content .portfolio-pic>img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  box-shadow: -1px -1px 5px gray;
}

/* portfolio inner */
.portfolio h5 {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin: 7px 20px 10px 20px;
}

.responsive {
  position: relative;
  display: inline-block;
  border: 1px solid #a4d8f86b;
  background-color: #a4d8f86b;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 7px;
  margin: 12px 0px 5px 16px;
}

.vue {
  position: relative;
  display: inline-block;
  border: 1px solid #d1baf35e;
  background-color: #d1baf35e;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 7px;
  margin: 12px 10px 5px 16px;
}

.with-git {
  position: relative;
  display: inline-block;
  border: 1px solid #f5e1769e;
  background-color: #f5e1769e;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 7px;
  margin: 12px 10px 5px 16px;
}

.pc-web {
  position: relative;
  display: inline-block;
  border: 1px solid #e4f2c6;
  background-color: #e4f2c6;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 7px;
  margin: 12px 0px 5px 16px;
}

.fa-calendar-alt {
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin: 0px 8px 10px 20px;
}

.portfolio-calendar {
  position: relative;
  display: inline-block;
}

.portfolio-text-wrap {
  position: relative;
  display: block;
}

.portfolio-text {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  margin: 5px 20px;
}

.fa-laptop-code {
  position: relative;
  font-size: 15px;
  color: #000;
}

.vue-pic {
  position: relative;
  width: 18px;
  height: 18px;
}

.fa-github {
  position: relative;
  font-size: 15px;
}

.chrome-pic {
  position: relative;
  width: 18px;
  height: 18px;
}

.figma {
  position: relative;
  width: 18px;
  height: 18px;
}

.icon-text {
  position: relative;
  padding: 0 5px;
  font-weight: 400;
}

/* ========================= life ========================= */
.life {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
}




















/* ========================= footer ========================= */
.footer {
  font-family: 'Sriracha', 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  background-color: #e6c7c1;
}

.footer .inner {
  position: relative;
  display: block;
  padding-top: 25px;
  font-weight: 500;
}