@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

::selection {
  color: #d36853;
}

::-moz-selection {
  color: #d36853;
}

::-webkit-selection {
  color: #d36853;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  -ms-overflow-style: none;
  overflow: auto;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e6c7c1;
  border-radius: 30px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "Noto Sans KR", Helvetica, "맑은 고딕", "malgun gothic",
    "Apple SD Gothic Neo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: #444;
}

/* 공통요소 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.line-bar {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  margin: 100px 0;
  box-shadow: 0px 2px 3px #e6c7c1;
}

.inner {
  position: relative;
  display: block;
  max-width: 1300px;
  height: calc(100% - 80px);
  margin: 0 auto;
}

.wrap {
  position: relative;
  display: block;
}

h2 {
  font-family: "Sriracha", "Noto Sans KR", Helvetica, "맑은 고딕",
    "malgun gothic", "Apple SD Gothic Neo", sans-serif;
  position: relative;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

strong {
  font-weight: 600;
  color: #d36853;
}

/* ========================= gotop ========================= */
.button-list {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: block;
  z-index: 9999;
  display: none;
}

.button-list-fix {
  position: absolute;
  bottom: 15px;
  right: 30px;
}

.button-list-show {
  visibility: visible !important;
}

/* contact */

.contact {
  position: relative;
  display: block;
  margin: 10px 0;
  border: 1px solid #e6c7c1;
  border-radius: 50%;
  background-color: #fff;
  width: 60px;
  height: 60px;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  transition: all 0.2s;
}

.contact:hover {
  background-color: hsl(10, 43%, 83%);
  color: #fff;
}

.contact-list {
  position: absolute;
  bottom: 55%;
  right: 80px;
  display: block;

  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.contact-list-active {
  visibility: visible;
  opacity: 1;
}

.contact-list .kakao-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s;
}

.contact-list .kakao-pic:hover {
  transform: scale(1.1);
}

.contact-list .cont-git {
  font-size: 46px;
  margin: 20px 0 20px 3px;
  transition: all 0.3s;
}

.contact-list .cont-git:hover {
  transform: scale(1.1);
}

.contact-list .email-pic {
  width: 50px;
  height: 50px;
  transition: all 0.3s;
}

.contact-list .email-pic:hover {
  transform: scale(1.1);
}

.pdf {
  position: relative;
  display: block;
  margin: 10px 0;
  border: 1px solid #e6c7c1;
  border-radius: 50%;
  background-color: #fff;
  width: 60px;
  height: 60px;
  font-weight: 700;
  text-align: center;
  padding-top: 12px;
  transition: all 0.2s;
}

.pdf:hover {
  background-color: hsl(10, 43%, 83%);
  color: #fff;
}

.fa-file-pdf {
  font-size: 32px;
}

.gotop {
  position: relative;
  display: block;
  margin: 10px 0;
  border: 3px solid #fff;
  border-radius: 50%;
  background-color: #e6c7c1;
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding-top: 8px;
  transition: all 0.2s;
}

.fa-chevron-up {
  font-size: 40px;
}

.gotop:hover {
  color: #000;
}

/* 모바일 메뉴 */
.mb-bt {
  position: relative;
  display: block;
  float: right;
  display: none;
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin-right: 10px;
  margin-top: 25px;
  border: 0;
  background-color: #fff;
  cursor: pointer;
}

.mb-div {
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.mb-bg {
  position: relative;
  width: 330px;
  padding: 30px;
  background-color: #fff;
}

.mb-close {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 30px;
  border: 0;
  background-color: #fff;
  cursor: pointer;
  z-index: 99;
}

.mb-wrap {
  position: relative;
  display: block;
  width: 300px;
}

.mb-menu {
  position: relative;
  display: block;
  width: 100%;
  height: 100vh;
}

.mb-menu > li {
  position: relative;
  display: block;
  margin-bottom: 25px;
}

.mb-gnb-button {
  position: relative;
  display: block;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-left: 30px;
  transition: all 0.3s;
}

.mb-gnb-button::before {
  content: "";
  position: absolute;
  left: -11%;
  top: 18px;
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/posibility-bcc.jpg") no-repeat center;
  background-size: contain;
  transition: all 0.7s;
  z-index: -1;
  opacity: 0;
  z-index: 9;
}

.mb-gnb-button:hover {
  color: #d36853;
}

.mb-gnb-button:hover::before {
  opacity: 1;
}

.mb-gnb-button-active {
  color: #d36853;
}

.mb-gnb-button-active::before {
  opacity: 1;
}

/* ========================= header ========================= */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 999;
  text-align: center;
  box-shadow: 1px 1px 6px #e6c7c1;
}

.header .inner {
  position: relative;
  display: block;
}

.logo {
  position: relative;
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  background: url("../images/favicon.png") no-repeat center;
  background-size: contain;
  text-align: center;
  padding: 40px 0;
}

/* header-gnb */
.gnb {
  position: relative;
  display: block;
  height: 80px;
  float: right;
}

.gnb > li {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
  margin: 0 10px;
  height: 100%;
}

.gnb-button {
  position: relative;
  display: block;
  line-height: 80px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  margin-left: 30px;
  transition: all 0.3s;
}

.gnb-button::before {
  content: "";
  position: absolute;
  right: 50%;
  top: 18px;
  display: block;
  width: 100%;
  height: 30px;
  background: url("../images/posibility-bcc.jpg") no-repeat center;
  background-size: contain;
  transition: all 0.7s;
  z-index: -1;
  opacity: 0;
}

.gnb-button:hover {
  color: #d36853;
}

.gnb-button:hover::before {
  opacity: 1;
}

.gnb-button-active {
  color: #d36853;
}

.gnb-button-active::before {
  opacity: 1;
}

.fa-list-ul {
  position: relative;
  font-size: 0px;
}

/* ========================= home ========================= */
.home {
  position: relative;
  display: block;
  height: 100vh;
}

.visual {
  position: relative;
  display: block;
  height: 100vh;
  float: right;
}

.visual > img {
  width: 100%;
  height: 100%;
}

.home .inner {
  position: relative;
  display: block;
  height: 100%;
}

.visual-wrap {
  position: absolute;
  top: 27%;
  left: 0;
  display: block;
  z-index: 9;
}

.visual-text1 {
  font-family: "Sriracha", "Noto Sans KR", Helvetica, "맑은 고딕",
    "malgun gothic", "Apple SD Gothic Neo", sans-serif;
  position: relative;
  display: block;
  text-align: start;
  font-size: 24px;
  color: rgb(211, 104, 83, 20%);
  font-weight: 600;
  padding-left: 15px;
}

.visual-text2 {
  font-family: "S-CoreDream-3Light", "Noto Sans KR", Helvetica, "맑은 고딕",
    "malgun gothic";
  position: relative;
  display: block;
  text-align: start;
  font-size: 46px;
  line-height: 76px;
  font-weight: 600;
}

.visual-text3 {
  font-family: "S-CoreDream-3Light", "Noto Sans KR", Helvetica, "맑은 고딕",
    "malgun gothic";
  position: relative;
  display: block;
  text-align: start;
  font-size: 20px;
  line-height: 35px;
  color: #666;
  font-weight: 600;
  margin-top: 15px;
}

.view {
  font-family: "Sriracha", "Noto Sans KR", Helvetica, "맑은 고딕",
    "malgun gothic", "Apple SD Gothic Neo", sans-serif;
  position: relative;
  display: block;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  margin-top: 30px;
}

/* =============================== about ================================= */
.about {
  position: relative;
  display: block;
  height: 100%;
}

.about > .line-bar {
  margin-top: 0;
}

.about > .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

/* about-left */
.profile {
  position: relative;
  display: block;
  width: 350px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid rgb(230, 199, 193, 30%);
  box-shadow: rgb(230, 199, 193, 30%) 8px 9px 13px 1px;
}

.profile-left {
  position: relative;
  display: block;
}

.profile-pic {
  position: relative;
  display: block;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  margin: 40px auto;
  background: url("../images/hm_profile.jpg") no-repeat center;
  background-size: contain;
}

.profile-left > span {
  font-family: "GangwonEduPowerExtraBoldA", "Noto Sans KR", Helvetica,
    "맑은 고딕", "malgun gothic";
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 20px;
  margin: 25px 0 25px 25px;
}

.profile-left > span > a {
  width: 100%;
  height: 100%;
}

.profile-icon {
  margin-right: 15px;
}

.profile-logo {
  width: 30x;
  height: 30px;
}

.fa-birthday-cake {
  font-size: 26px;
}

.fa-map-marked-alt {
  font-size: 22px;
}

.fa-envelope {
  font-size: 25px;
}

/* about-right */
.profile-right {
  font-family: "S-CoreDream-3Light", "Noto Sans KR", Helvetica, "맑은 고딕",
    "malgun gothic";
  position: relative;
  display: block;
  color: #444;
  height: 100%;
  font-weight: 600;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.about-me {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.about-me-title {
  font-family: "Noto Sans KR", Helvetica, "맑은 고딕", "malgun gothic",
    "Apple SD Gothic Neo", sans-serif;
  position: relative;
  display: block;
  font-size: 28px;
  font-weight: 500;
  text-align: start;
}

.about-me-sub-title {
  font-family: "Noto Sans KR", Helvetica, "맑은 고딕", "malgun gothic",
    "Apple SD Gothic Neo", sans-serif;
  position: relative;
  display: block;
  font-size: 42px;
  font-weight: 700;
  text-align: start;
  margin: 5px 0;
}

.about-me-text {
  font-family: "S-CoreDream-3Light", "Noto Sans KR", Helvetica, "맑은 고딕",
    "malgun gothic";
  position: relative;
  display: block;
  font-size: 30px;
  font-weight: 600;
  text-align: start;
}

.about-me-sub-text {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 32px;
  padding-top: 16px;
}

.about-me-sub-text > b {
  color: #000;
}

.profile-bottom {
  position: relative;
  display: block;
  padding-top: 30px;
}

.education {
  position: relative;
  display: block;
  float: left;
  width: 50%;
}

.mbti {
  position: relative;
  display: block;
  float: left;
  width: 50%;
}

.profile-right-title {
  font-family: "Sriracha", "Noto Sans KR", Helvetica, "맑은 고딕",
    "malgun gothic", "Apple SD Gothic Neo", sans-serif;
  position: relative;
  display: block;
  font-size: 26px;
  margin-bottom: 10px;
}

.profile-right-title img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.profile-right-text {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 42px;
}

/* ========================= possibility ========================= */
.possibility {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.possibility .inner {
  position: relative;
  display: block;
  width: 100%;
  height: 750px;
}

.pos-content {
  position: relative;
  display: block;
  width: 100%;
  height: 600px;
  margin-top: 20px;
}

.chart {
  position: absolute;
  top: 22%;
  left: 31%;
  display: block;
  width: 500px;
  height: 500px;
}

.pos-text {
  position: relative;
  display: block;
  height: 100%;
}

.pos-text1 {
  position: absolute;
  display: block;
  left: 52%;
  top: 5%;
  width: 450px;
  height: 140px;
  background: url("../images//posibility-bcc.jpg") no-repeat center;
  background-size: contain;
  background-position: right;
}

.pos-text2 {
  position: absolute;
  display: block;
  top: 36%;
  right: 8%;
  width: 280px;
  height: 190px;
}

.pos-text3 {
  position: absolute;
  display: block;
  bottom: 0%;
  right: 0%;
  width: 460px;
  height: 120px;
  background: url("../images//posibility-bcc.jpg") no-repeat center;
  background-size: contain;
  background-position: right;
}

.pos-text4 {
  position: absolute;
  display: block;
  bottom: 0%;
  left: 0%;
  width: 445px;
  height: 140px;
  text-align: right;
}

.pos-text5 {
  position: absolute;
  display: block;
  top: 32%;
  left: 0%;
  width: 390px;
  height: 140px;
  background: url("../images//posibility-bcc.jpg") no-repeat center;
  background-size: contain;
  background-position: left;
  text-align: right;
}

/* pos font */
.pos-content h3 {
  font-family: "GangwonEduPowerExtraBoldA", "Noto Sans KR", Helvetica,
    "맑은 고딕", "malgun gothic";
  position: relative;
  display: block;
  font-size: 20px;
  color: #000;
  margin-bottom: 10px;
}

.pos-content h4 {
  font-family: "S-CoreDream-3Light", "Noto Sans KR", Helvetica, "맑은 고딕",
    "malgun gothic";
  position: relative;
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin-bottom: 5px;
}

.pos-content p {
  font-family: "S-CoreDream-3Light", "Noto Sans KR", Helvetica, "맑은 고딕",
    "malgun gothic";
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #444;
}

/* ========================= skill ========================= */
.skill {
  position: relative;
  display: block;
}

.skill .inner {
  position: relative;
  display: block;
}

.skill-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill-box {
  position: relative;
  display: block;
  width: 220px;
  height: 220px;
  margin: 60px 40px;
}

/* skill-icon */
.skill-pic {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 60px;
  height: 60px;
}

/* ========================= portfolio ========================= */
.portfolio {
  position: relative;
  display: block;
}

.portfolio .inner {
  position: relative;
  display: block;
}

.portfolio b {
  font-weight: 500;
  color: #b51b1b;
}

/* portfolio-menu */
.portfolio-menu {
  position: relative;
  text-align: center;
  margin: 40px 0 20px;
}

.portfolio-bt {
  position: relative;
  display: inline-block;
}

.portfolio-bt button {
  position: relative;
  display: block;
  cursor: pointer;
  margin: 0 30px;
  padding: 10px 20px;
  border: 0;
  font-size: 22px;
  background-color: #fff;
  color: rgb(192, 191, 191);
  font-weight: 600;
  transition: all 0.9s;
}

.portfolio-bt button:hover {
  color: #d36853;
}

.portfolio-bt .portfolio-menu-active {
  color: #d36853;
}

/* portfolio-cate */
.portfolio-cate-wrap {
  position: relative;
  display: block;
  height: 550px;
}
.portfolio-cate-pos {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;
  height: 100%;
}
.portfolio-cate {
  position: relative;
  display: block;
  width: 1250px;
  height: 550px;
  overflow: hidden;
  margin: 0 auto;
}

.sw-pg {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.swiper-pagination-bullet {
  margin: 0 5px;
  background-color: #999;
}

.swiper-pagination-bullet-active {
  background-color: #d36853;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
}

.portfolio-content {
  position: relative;
  display: block;
  width: 550px;
  height: 470px;
  margin: 25px 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(65 65 66 / 10%) 2px 2px 5px 1px;
  border-radius: 15px;
  overflow: hidden;
}

.portfolio-content .portfolio-pic > img {
  position: relative;
  display: block;
  width: 100%;
  height: 75%;
  margin-bottom: 10px;
  box-shadow: -1px -1px 5px gray;
  z-index: -9;
}

/* portfolio inner */
.portfolio-depth {
  position: relative;
  display: block;
}

.portfolio-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 50%);
  opacity: 0;
  transition: opacity 0.5s;
}

.portfolio-content:hover .portfolio-cover {
  opacity: 1;
}

.portfolio-inner {
  position: absolute;
  top: 43%;
  left: 50%;
  width: 380px;
  height: 215px;
  transform: translate(-50%, -50%);
  display: block;
}

.portfolio-inner-title {
  position: relative;
  display: block;
  font-size: 20px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.clone-web {
  position: relative;
  display: block;
  margin-bottom: 30px;
  background-color: rgb(255, 255, 255, 80%);
  padding: 25px;
  padding-left: 30px;
  border-radius: 5px;
  box-shadow: rgb(65 65 66 / 80%) 2px 2px 5px 1px;
}

.clone-vue {
  position: relative;
  display: block;
  background-color: rgb(255, 255, 255, 80%);
  padding: 25px;
  padding-left: 30px;
  border-radius: 5px;
  box-shadow: rgb(65 65 66 / 80%) 2px 2px 5px 1px;
}

.portfolio-text {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
}

.portfolio-text:hover {
  color: #b51b1b;
}

/* portfolio-icon */
.portfolio h5 {
  font-family: "GangwonEduPowerExtraBoldA", "Noto Sans KR", Helvetica,
    "맑은 고딕", "malgun gothic";
  position: relative;
  position: relative;
  display: block;
  font-size: 24px;
  font-weight: 700;
  margin: 20px 0px 0px 20px;
}

.icon-text {
  position: relative;
  padding-right: 15px;
  font-size: 20px;
  font-weight: 400;
}

.portfolio-calendar {
  position: relative;
  display: inline-block;
}

.fa-calendar-alt {
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 5px;
}

.pc-web {
  position: relative;
  display: inline-block;
  border: 1px solid #d1baf35e;
  background-color: #d1baf35e;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 7px;
  margin: 12px 0px 5px 16px;
}

.responsive {
  position: relative;
  display: inline-block;
  border: 1px solid #a4d8f86b;
  background-color: #a4d8f86b;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 7px;
  margin: 12px 0px 5px 16px;
}

.vue {
  position: relative;
  display: inline-block;
  border: 1px solid #e4f2c6;
  background-color: #e4f2c6;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 7px;
  margin: 12px 0px 5px 16px;
}

.with-git {
  position: relative;
  display: inline-block;
  border: 1px solid #f5e1769e;
  background-color: #f5e1769e;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 7px;
  margin: 12px 10px 5px 16px;
}

.fa-desktop {
  position: relative;
  font-size: 20px;
  margin-right: 10px;
}

.fa-vuejs {
  position: relative;
  font-size: 21px;
  font-weight: 400;
  margin-right: 10px;
}

.fa-github {
  position: relative;
  font-size: 20px;
  margin-right: 10px;
}

.fa-chrome {
  position: relative;
  font-size: 20px;
  margin-right: 10px;
}

.fa-figma {
  position: relative;
  font-size: 20px;
  margin-right: 10px;
}

.fa-php {
  position: relative;
  font-size: 25px;
  font-weight: 600;
  margin-right: 10px;
}

/* ========================= life ========================= */
.life {
  position: relative;
  display: block;
}

.life .inner {
  position: relative;
  display: block;
}

.life-collection {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}

.life-collection > li {
  position: relative;
  display: block;
}

.life-collection > li:nth-child(2n + 1) {
  z-index: 9;
}

.life-collection > li > .life-cont {
  transform: rotate(3deg);
}

.life-collection > li:nth-child(2n) > .life-cont {
  transform: rotate(-5deg);
}

.life-cont {
  position: relative;
  display: block;
  width: 310px;
  height: 480px;
  background-color: #fff;
  border: 1px solid rgb(65 65 66 / 5%);
  box-shadow: rgb(65 65 66 / 10%) 8px 9px 13px 1px;
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 100px;
  transform: rotate(3deg);
}

.photo-text {
  font-family: "S-CoreDream-3Light", "Noto Sans KR", Helvetica, "맑은 고딕",
    "malgun gothic";
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 36px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 5px;
}

.photo-size {
  position: relative;
  display: block;
  width: 280px;
  height: 350px;
  margin: 0 auto;
}

.photo-1 {
  background: url("../images/hm_tongyoung.jpg") no-repeat center;
  background-size: cover;
}

.photo-3 {
  background: url("../images/hm_lottewater.jpg") no-repeat center;
  background-size: cover;
}

.photo-5 {
  background: url("../images/hm_ikea.jpg") no-repeat center;
  background-size: cover;
}

.photo-7 {
  background: url("../images/hm_blossom.jpg") no-repeat center;
  background-size: cover;
}

/* ========================= vision ========================= */
.vision {
  position: relative;
  display: block;
}

.vision .inner {
  position: relative;
  display: block;
  padding: 0 30px;
}

.vision-wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.vision-content {
  position: relative;
  display: block;
  width: 380px;
  height: 380px;
  border: 1px solid rgb(230, 199, 193, 30%);
  box-shadow: rgb(230, 199, 193, 30%) 8px 9px 13px 1px;
  border-radius: 5%;
  padding: 30px 0 30px 30px;
}

.vision-content img {
  position: absolute;
  top: -50px;
  left: -20px;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.vision-title {
  font-family: "GangwonEduPowerExtraBoldA", "Noto Sans KR", Helvetica,
    "맑은 고딕", "malgun gothic";
  font-family: "S-CoreDream-3Light", "Noto Sans KR", Helvetica, "맑은 고딕",
    "malgun gothic";
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 24px;
}

.vision-text {
  font-family: "S-CoreDream-3Light", "Noto Sans KR", Helvetica, "맑은 고딕",
    "malgun gothic";
  position: relative;
  display: block;
  margin-top: 20px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color: #777;
}

/* ========================= footer ========================= */
.footer {
  font-family: "Sriracha", "Noto Sans KR", Helvetica, "맑은 고딕",
    "malgun gothic", "Apple SD Gothic Neo", sans-serif;
  position: relative;
  display: block;
  width: 100%;
  height: 180px;
  font-size: 20px;
  margin-top: 300px;
  background-color: #e6c7c1;
  padding-top: 10px;
  text-align: center;
}

.footer .inner {
  position: relative;
  display: block;
  padding-top: 25px;
  font-weight: 500;
  margin: 0 auto;
}

.footer-logo {
  position: relative;
  display: block;
  width: 30x;
  height: 30px;
}

.footer-contact {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.footer-contact > li {
  position: relative;
  display: inline-block;
}

.footer-kakao {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s;
}

.footer-kakao:hover {
  transform: scale(1.1);
}

.footer-git {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
  margin: 0 50px;
}

.footer-git:hover {
  transform: scale(1.1);
}

.footer-email {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
}

.footer-email:hover {
  transform: scale(1.1);
}
