@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Noto Sans KR', Helvetica, '맑은 고딕', 'malgun gothic', 'Apple SD Gothic Neo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.64px;
  color: #444;
}

/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
  max-width: 1200px;
  margin: 0 auto;

}

.wrap {
  position: relative;
  display: block;
}

/* header */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 999;
  text-align: center;
}

.header .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  display: block;
  width: 50px;
  height: 30px;
  background: url('../images') no-repeat center;
  background-size: cover;
  text-align: center;
  border: 1px solid pink;
  padding: 40px 0;
}

/* header-gnb */
.gnb {
  position: relative;
  display: inline-block;
}

.gnb>li {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
  margin: 0 10px;
}

.gnb>li>a {
  display: block;
  line-height: 80px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid blue;
}

.gnb>li>a:hover {
  color: hotpink;
}

/* home */
.home {
  position: relative;
  display: block;
  height: 100vh;
  background-color: #fff6f1;
}

/* about */
.about {
  position: relative;
  display: block;
  height: 800px;
  background-color: aliceblue;
}

.about .inner {
  height: 100%;
}

/* possibility */
#pro-html {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
}


#pro-css {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
}



/* ====================== portfolio ====================== */
.portfolio {
  position: relative;
  display: block;
}

/* portfolio-font */

.portfolio h2 {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.portfolio h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
}

.portfolio h3 strong {
  font-weight: 700;
  color: #a51b0b;
}

.portfolio b {
  font-weight: 500;
  color: #b51b1b;
}

/* portfolio-layout */
.portfolio-wrap {
  position: relative;
}

.portfolio-menu {
  position: relative;
  text-align: center;
  margin: 30px 0;
}

.portfolio-bt {
  position: relative;
  display: inline-block;
}

.portfolio-bt button {
  position: relative;
  display: block;
  cursor: pointer;
  margin: 0 30px;
  padding: 10px 20px;
  border: 0;
  font-size: 18px;
  background-color: #fff;
  color: #666;


  --b: 2px;   /* the thickness of the line */
  --c: #1095c1; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}

.portfolio-bt button:hover {
  font-weight: 600;
  font-size: 20px;
  --_p: 100%;
  --_s: .3s;
}

.portfolio-bt .portfolio-menu-active {
  font-weight: 600;
  --_p: 100%;
  --_s: .3s;
}


.portfolio-cate {
  position: relative;
}

.portfolio-list {
  position: relative;
  display: block;
  width: 100%;
}

.portfolio-content {
  position: relative;
  display: block;
  float: left;
  width: 350px;
  height: 380px;
  margin: 25px 25px;
  background-color: #fff;
  box-shadow: 1px 1px 6px #e6c7c1;
  /* border-radius: 40px 80px / 80px 40px; */
  border-radius: 7px;
  overflow: hidden;
  /* border:3px solid red; */
}

.portfolio-content .portfolio-pic {
  display: block;
}

.portfolio-content .portfolio-pic>img {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  box-shadow: -1px -1px 5px gray;
  /* border: 3px solid blue; */
}

/* portfolio inner */
.portfolio h5 {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin: 7px 20px 10px 20px;
}

.responsive {
  position: relative;
  display: inline-block;
  border: 1px solid #a4d8f86b;
  background-color: #a4d8f86b;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 7px;
  margin: 12px 0px 5px 16px;
}

.vue {
  position: relative;
  display: inline-block;
  border: 1px solid #d1baf35e;
  background-color: #d1baf35e;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 7px;
  margin: 12px 10px 5px 16px;
}

.with-git {
  position: relative;
  display: inline-block;
  border: 1px solid #f5e1769e;
  background-color: #f5e1769e;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 7px;
  margin: 12px 10px 5px 16px;
}

.pc-web {
  position: relative;
  display: inline-block;
  border: 1px solid #e4f2c6;
  background-color: #e4f2c6;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  padding: 3px 7px;
  margin: 12px 0px 5px 16px;
}

.fa-calendar-alt {
  position: relative;
  display: inline-block;
  font-size: 20px;
  margin: 0px 8px 10px 20px;
}

.portfolio-calendar {
  position: relative;
  display: inline-block;
}

.portfolio-text-wrap {
  position: relative;
  display: block;
}

.portfolio-text {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  margin: 5px 20px;
}

.fa-laptop-code {
  position: relative;
  font-size: 15px;
  color: #000;
}

.vue-pic {
  position: relative;
  width: 18px;
  height: 18px;
}

.fa-github {
  position: relative;
  font-size: 15px;
}

.chrome-pic {
  position: relative;
  width: 18px;
  height: 18px;
}

.figma {
  position: relative;
  width: 18px;
  height: 18px;
}

.icon-text {
  position: relative;
  padding: 0 5px;
  font-weight: 400;
}

/* contact */




/* footer */
.footer {
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  background-color: #e3eaf1;
}

.footer .inner {
  position: relative;
  display: block;
  padding-top: 25px;
}
